.gradle/
build/
.idea

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar

# Avoid ignoring Gradle wrapper properties file (.properties files are usually ignored)
!gradle/wrapper/gradle-wrapper.properties

# Cache of project
.gradletasknamecache

### IntelliJ ###
# Covers .idea/ and any contents
.idea/

# User-specific stuff
*.iws

# Sensitive or machine-specific IntelliJ files
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml

# Gradle project settings
.idea/gradle.xml
.idea/libraries

# IntelliJ plugin data
.idea/shelf

# IntelliJ Editor History
.idea/editorHistory.xml

# Compiled output
out/

# JNA and JNI library files
/lib/native/
/lib64/native/

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

### Kotlin ###
# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Kotlin IDE plugin
.kotlin/

# Java Heap dump
*.hprof

# Temporary files
*~
*.tmp
*.bak
